<!-- START MAIN CONTAINER -->
<main class="body padding-top" data-page-id="dea5792147132100ba13a5554ee4902d" data-page-title="KB0010510 - Get Access to Business Systems (SSO)">
	<h1 class="sr-only ng-binding ng-isolate-scope" page-title="page.title" tabindex="-1">KB0010510 - Get Access to Business Systems (SSO)</h1>

	<div ng-repeat="container in containers" ng-style="main.parseJSON(container.background)" ng-class="::[container.class_name, 'c' + container.sys_id]" class="ng-scope cd1a0cb30d7000200a9ad1e173e24d49d" style="">
		<div ng-class="::main.getContainerClasses(container)" class="container">

			<sp-page-row ng-repeat="row in ::container.rows" columns="::row.columns" row="::row" container="::container" class="ng-scope ng-isolate-scope">
				<div class="sp-row-content  row">

					<div ng-repeat="column in columns" class=" col-sm-9 ">
						<span ng-repeat="rectangle in column.widgets" sp-context-menu="contextMenu(event)" ng-controller="spWidgetDebug" class="ng-scope"><div id="x76b00f30d7000200a9ad1e173e24d45b" class="vc6545050ff223100ba13ffffffffffe8 ng-scope" data="data" options="options" widget="widget" server="server"><!-- ngIf: data.isvalid --><div ng-if="data.isvalid" class="panel panel-default b">
						 <div class="panel-heading">
							<h2 class="panel-title h4">Logins and Passwords </h2>
							</div>
							<div class="panel-body m-b-lg wrapper-lg">

							<!-- START  LEFT COL CONTAINER -->
							<div class="kb_article ng-binding ng-scope">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus elementum justo vel augue pellentesque, id condimentum ipsum commodo.</p>
								<p>&nbsp;</p>
								<h2>Overview</h2>
								<hr>
								<p>Faculty and Staff members can self-register for a business systems account and get authorization&nbsp;and training to access business systems tools / data.</p>
								<p>&nbsp;</p>

								<h2>Features/Benefits</h2>
								<hr>
								<p>Faculty and Staff members can self-register for a business systems account and get authorization&nbsp;and training to access business systems tools / data.</p>
								<p>&nbsp;</p>

								<h2>Rates</h2>
								<hr>
								<p>Faculty and Staff members can self-register for a business systems account and get authorization&nbsp;and training to access business systems tools / data.</p>
								<p>&nbsp;</p>

								<h2>Availability</h2>
								<hr>
								<p>Faculty and Staff members can self-register for a business systems account and get authorization&nbsp;and training to access business systems tools / data.</p>
								<p>&nbsp;</p>

								<h2>Getting Started</h2>
								<hr>
								<p>Faculty and Staff members can self-register for a business systems account and get authorization&nbsp;and training to access business systems tools / data.</p>
								<p>&nbsp;</p>

							</div>
							<!-- END LEFT COL CONTAINER -->
						</div>
					</div>

			</div>

			</span>

						<span ng-repeat="rectangle in column.widgets" sp-context-menu="contextMenu(event)" ng-controller="spWidgetDebug" class="ng-scope"><div id="x81e04f30d7000200a9ad1e173e24d406" class="vfb9f640347332100ba13a5554ee4908e ng-scope" data="data" options="options" widget="widget" server="server"><div>
		<form ng-submit="submitFeedback()" ng-if="!data.disabled &amp;&amp; data.isValid &amp;&amp; (data.allowFeedback || data.allowRating)" class="ng-pristine ng-valid ng-scope" role="form">
		</form>

		</div>
		</div>

		</span>

					</div>

					<div ng-repeat="column in columns" class=" col-sm-3 ">

						<div class="v498c39d3db21634006037a131f9619c1 ng-scope"><a ng-href="#link" class="btn btn-default btn-primary btn-help m-b" href="#link">Report a Problem</a></div>
						<div class="v498c39d3db21634006037a131f9619c1 ng-scope"><a ng-href="#link" class="btn btn-default btn-primary btn-help m-b" href="#link">Request a Service</a></div>


						<div class="ng-scope" data="data" options="options" widget="widget" server="server">
							<div class="panel panel-primary b" ng-if="::data.isvalid" title="Also in Login and Passwords">
								<div class="panel-heading">
									<h1 class="h4 panel-title ng-binding">Also in Login and Passwords</h1>
								</div>

								<div class="panel-body transclude">

									<div ng-repeat="a in ::data.articles" class="m-b ng-scope">
										<a href="?id=kb_article&amp;sys_id=82964e73db56db4059f17e09af9619cc" class="ng-binding">Reset your Business Systems (SSO) Password</a>
									</div>

									<div ng-repeat="a in ::data.articles" class="m-b ng-scope">
										<a href="?id=kb_article&amp;sys_id=5a1ed646dbcf130059f17e09af9619bc" class="ng-binding">View your Current Access to Campus Systems</a>
									</div>

									<div ng-show="::(data.articles.length == 0)" class="ng-scope ng-hide" aria-hidden="true">
										No other articles
									</div>

									<div ng-show="::(data.count > 5)" class="ng-scope ng-hide" aria-hidden="true">
										<a href="?id=kb_category&amp;kb_category=bdb42575dbd55f04bd30f6e9af9619b5" class="ng-binding">View all 3 articles</a>
									</div>

								</div>

								<div class="panel-footer text-right">
									<a href="?id=kb_category&amp;kb_category=0f8c6166db4957c0bd30f6e9af96198b">View All</a>
								</div>

							</div>
						</div>



						<div class="ng-scope" data="data" options="options" widget="widget" server="server">
							<div class="panel panel-primary b" ng-if="::data.isvalid" title="Related Articles">
								<div class="panel-heading">
									<h1 class="h4 panel-title ng-binding">Related Articles</h1>
								</div>

								<div class="panel-body transclude">

									<div ng-repeat="a in ::data.articles" class="m-b ng-scope">
										<a href="?id=kb_article&amp;sys_id=82964e73db56db4059f17e09af9619cc" class="ng-binding">Reset your Business Systems (SSO) Password</a>
									</div>

									<div ng-repeat="a in ::data.articles" class="m-b ng-scope">
										<a href="?id=kb_article&amp;sys_id=5a1ed646dbcf130059f17e09af9619bc" class="ng-binding">View your Current Access to Campus Systems</a>
									</div>

									<div ng-show="::(data.articles.length == 0)" class="ng-scope ng-hide" aria-hidden="true">
										No other articles
									</div>

									<div ng-show="::(data.count > 5)" class="ng-scope ng-hide" aria-hidden="true">
										<a href="?id=kb_category&amp;kb_category=bdb42575dbd55f04bd30f6e9af9619b5" class="ng-binding">View all 3 articles</a>
									</div>

								</div>

								<div class="panel-footer text-right">
									<a href="?id=kb_category&amp;kb_category=0f8c6166db4957c0bd30f6e9af96198b">View All</a>
								</div>

							</div>
						</div>




</main>

<!-- END MAIN CONTAINER -->
