	<!-- START MAIN CONTAINER -->
	<main class="body padding-top">
		<h1 class="sr-only ng-binding ng-isolate-scope">Knowledge Base</h1>
		<div class="ng-scope">
			<div class="container">
				<sp-page-row class="ng-scope ng-isolate-scope">
					<div class="sp-row-content  row">
						<div ng-repeat="column in columns" class=" col-md-12 ">
							<span ng-repeat="rectangle in column.widgets" class="ng-scope">
								<div class="v945899d4dbe4af40a7907aa9bf9619e6 ng-scope" >
									<div>
										<div class="wrapper-md">
											<h2 class="text-center">Browse UC San Diego IT Services</h2>
										</div>

										<!-- START CATEGORY PANEL -->
										<div class="col-md-4 col-xs-6 kb-cat-container ng-scope" aria-hidden="false">
											<div class="panel panel-primary b">
												<div class="panel-heading">
													<span style="font-size: 18px;" class="ng-binding"> <i class="fa fa-lock"></i> Accounts &amp; Access</span>
												</div>
												<div class="panel-body">
													<div class="small text-center ng-binding ng-scope" style="padding-bottom:5px;">
														9 articles
													</div>
													<ul>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Get Access to Business Systems (SSO)</li>
																</a>
															</span>
														</div>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Faculty &amp; Staff Accounts</li>
																</a>
															</span>
														</div>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Reset your Business Systems (SSO) Password</li>
																</a>
															</span>
														</div>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Faculty &amp; Staff Account Closure</li>
																</a>
															</span>
														</div>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Activate and Access your New Student Account</li>
																</a>
															</span>
														</div>
													</ul>
												</div>
												<div class="panel-footer text-right">
													<a href="?id=kb_category&amp;kb_category=0a6e6111dbc99f80bd30f6e9af961933">View All</a>
												</div>
											</div>
										</div>
										<!-- END CATEGORY PANEL -->

										<!-- START CATEGORY PANEL -->
										<div class="col-md-4 col-xs-6 kb-cat-container ng-scope" aria-hidden="false">
											<div class="panel panel-primary b">
												<div class="panel-heading">
													<span style="font-size: 18px;" class="ng-binding"> <i class="fa fa-lock"></i> Accounts &amp; Access</span>
												</div>
												<div class="panel-body">
													<div class="small text-center ng-binding ng-scope" style="padding-bottom:5px;">
														9 articles
													</div>
													<ul>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Get Access to Business Systems (SSO)</li>
																</a>
															</span>
														</div>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Faculty &amp; Staff Accounts</li>
																</a>
															</span>
														</div>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Reset your Business Systems (SSO) Password</li>
																</a>
															</span>
														</div>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Faculty &amp; Staff Account Closure</li>
																</a>
															</span>
														</div>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Activate and Access your New Student Account</li>
																</a>
															</span>
														</div>
													</ul>
												</div>
												<div class="panel-footer text-right">
													<a href="?id=kb_category&amp;kb_category=0a6e6111dbc99f80bd30f6e9af961933">View All</a>
												</div>
											</div>
										</div>
										<!-- END CATEGORY PANEL -->

										<!-- START CATEGORY PANEL -->
										<div class="col-md-4 col-xs-6 kb-cat-container ng-scope" aria-hidden="false">
											<div class="panel panel-primary b">
												<div class="panel-heading">
													<span style="font-size: 18px;" class="ng-binding"> <i class="fa fa-lock"></i> Accounts &amp; Access</span>
												</div>
												<div class="panel-body">
													<div class="small text-center ng-binding ng-scope" style="padding-bottom:5px;">
														9 articles
													</div>
													<ul>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Get Access to Business Systems (SSO)</li>
																</a>
															</span>
														</div>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Faculty &amp; Staff Accounts</li>
																</a>
															</span>
														</div>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Reset your Business Systems (SSO) Password</li>
																</a>
															</span>
														</div>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Faculty &amp; Staff Account Closure</li>
																</a>
															</span>
														</div>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Activate and Access your New Student Account</li>
																</a>
															</span>
														</div>
													</ul>
												</div>
												<div class="panel-footer text-right">
													<a href="?id=kb_category&amp;kb_category=0a6e6111dbc99f80bd30f6e9af961933">View All</a>
												</div>
											</div>
										</div>
										<!-- END CATEGORY PANEL -->

										<!-- START CATEGORY PANEL -->
										<div class="col-md-4 col-xs-6 kb-cat-container ng-scope" aria-hidden="false">
											<div class="panel panel-primary b">
												<div class="panel-heading">
													<span style="font-size: 18px;" class="ng-binding"> <i class="fa fa-lock"></i> Accounts &amp; Access</span>
												</div>
												<div class="panel-body">
													<div class="small text-center ng-binding ng-scope" style="padding-bottom:5px;">
														9 articles
													</div>
													<ul>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Get Access to Business Systems (SSO)</li>
																</a>
															</span>
														</div>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Faculty &amp; Staff Accounts</li>
																</a>
															</span>
														</div>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Reset your Business Systems (SSO) Password</li>
																</a>
															</span>
														</div>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Faculty &amp; Staff Account Closure</li>
																</a>
															</span>
														</div>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Activate and Access your New Student Account</li>
																</a>
															</span>
														</div>
													</ul>
												</div>
												<div class="panel-footer text-right">
													<a href="?id=kb_category&amp;kb_category=0a6e6111dbc99f80bd30f6e9af961933">View All</a>
												</div>
											</div>
										</div>
										<!-- END CATEGORY PANEL -->

										<!-- START CATEGORY PANEL -->
										<div class="col-md-4 col-xs-6 kb-cat-container ng-scope" aria-hidden="false">
											<div class="panel panel-primary b">
												<div class="panel-heading">
													<span style="font-size: 18px;" class="ng-binding"> <i class="fa fa-lock"></i> Accounts &amp; Access</span>
												</div>
												<div class="panel-body">
													<div class="small text-center ng-binding ng-scope" style="padding-bottom:5px;">
														9 articles
													</div>
													<ul>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Get Access to Business Systems (SSO)</li>
																</a>
															</span>
														</div>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Faculty &amp; Staff Accounts</li>
																</a>
															</span>
														</div>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Reset your Business Systems (SSO) Password</li>
																</a>
															</span>
														</div>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Faculty &amp; Staff Account Closure</li>
																</a>
															</span>
														</div>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Activate and Access your New Student Account</li>
																</a>
															</span>
														</div>
													</ul>
												</div>
												<div class="panel-footer text-right">
													<a href="?id=kb_category&amp;kb_category=0a6e6111dbc99f80bd30f6e9af961933">View All</a>
												</div>
											</div>
										</div>
										<!-- END CATEGORY PANEL -->

										<!-- START CATEGORY PANEL -->
										<div class="col-md-4 col-xs-6 kb-cat-container ng-scope" aria-hidden="false">
											<div class="panel panel-primary b">
												<div class="panel-heading">
													<span style="font-size: 18px;" class="ng-binding"> <i class="fa fa-lock"></i> Accounts &amp; Access</span>
												</div>
												<div class="panel-body">
													<div class="small text-center ng-binding ng-scope" style="padding-bottom:5px;">
														9 articles
													</div>
													<ul>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Get Access to Business Systems (SSO)</li>
																</a>
															</span>
														</div>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Faculty &amp; Staff Accounts</li>
																</a>
															</span>
														</div>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Reset your Business Systems (SSO) Password</li>
																</a>
															</span>
														</div>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Faculty &amp; Staff Account Closure</li>
																</a>
															</span>
														</div>
														<div class="text-primary ng-scope" style="padding-bottom:15px;">
															<span>
																<a href="#link">
																	<li class="ng-binding">Activate and Access your New Student Account</li>
																</a>
															</span>
														</div>
													</ul>
												</div>
												<div class="panel-footer text-right">
													<a href="?id=kb_category&amp;kb_category=0a6e6111dbc99f80bd30f6e9af961933">View All</a>
												</div>
											</div>
										</div>
										<!-- END CATEGORY PANEL -->




									</div>
								</div>
							</span>
						</div>
					</div>
				</sp-page-row>
			</div>
		</div>
	</main>
